body { background: white; color: rgb(55,55,55); position: relative; font-family: "Share Tech Mono", sans-serif; }
.contenedor { margin-top: 1%; margin-bottom: 1%; }
.redes-sociales ul { text-align: center; background: white; border-radius: 4px; padding: 5px; }
.redes-sociales ul li img { width: 30px; }
.pefil .foto { width: 70%; margin: 0 auto; border: 3px solid white; margin-top: 30%;  margin-bottom: 10%;}
.datos-perfil { margin-top: 10%; }
.footer-pefil { padding: 10px; }

.contenedor-info .item { border: 1px solid rgba(200,200,200,0.4);border-radius: 4px; padding: 20px; margin-bottom: 10px;  }
.contenedor-info .item h3 { margin-top: 0px; }
.contenedor-info .item div { color: rgb(180,180,180);  }